 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I am Simone Liuzzi, a Data Scientist and Blockchain Developer based in Scotland.
                        Since 2015 I have been working free-lance on Data Science projects and since 2017 on blockchain development projects.</p>
                     <p>I earned my Master degree in Physics at the Physics Department at Sapienza University of Rome, <a href="http://en.uniroma1.it/archivionotizie/sapienza-first-2017-cwur-rankings"><font color="FFFFFF">ranked in the first ten positions in the world</font></a>. </p>
    
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>After that, I gained significant experience in experiment design, data analysis, algorithm maintenance, and automatic data processing at <a href="http://www.psi.ch"><font color="FFFFFF">PSI</font></a>, the largest federal Swiss multi-disciplinary research institute, near Zurich.</p>
                </div>
               <!--  <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
                <div class="col-lg-4 col-lg-offset-2">
                    <p>You can see my detailed CV on my <a href="https://www.linkedin.com/in/simone-liuzzi/"><font color="FFFFFF">LinkedIn page</font></a>, and a few examples of my work in the <a href="http://www.simoneliuzzi.me/#portfolio"><font color="FFFFFF">portfolio</font></a> above (under construction).</p>
                </div>
            </div>
        </div>
    </section>